body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 88%);
}
.header {
  background-color: hsl(0, 0%, 36%);
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
.game-card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 10px;
  margin: 10px;
  text-align: center;
  max-width: 200px;
  display: inline-block;
  background-color: white;
}
.game-card img {
  width: 70%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}
.game-card h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}