body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 88%);
}
.header {
  background-color: hsl(0, 0%, 36%);
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}
.game-card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%, 0.1);
  padding: 10px;
  margin: 10px;
  text-align: center;
  max-width: 200px;
  display: inline-block;
  background-color: white;
}
.game-card img {
  width: 70%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}
.game-card h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.instruction-container {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  margin: 30px;
  background-color: hsl(0, 0%, 80%);
}
.instruction {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 20px;
}
.input-group {
  display: flex;
  flex-direction: column; /* Label on top of input */
  align-items: flex-start; /* Align label with input */
  width: 100%; /* Adjust width for alignment */
  max-width: 300px; /* Prevent input from being too wide */
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px;
}
.input-container input {
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 80%);
}
.input-container button {
  width: 100px;
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 80%);
  background-color: hsl(0, 0%, 36%);
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
.input-container button:hover {
  background-color: hsl(0, 0%, 0%);
}

.anim-view {
  display: flex; /* Center content inside */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 50%; /* Adjust width */
  max-width: 600px; /* Prevent it from getting too large */
  height: auto; /* Let height adjust based on content */
  margin: 0 auto; /* Center horizontally */
  padding: 10px;
}
.anim-view img {
  width: 100%; /* Make image responsive */
  height: auto; /* Keep aspect ratio */
  object-fit: contain; /* Ensure full image is visible */
}

.loading-text {
  position: absolute;
  top: 550px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%); /* Centers it horizontally */
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  animation: blink 1s infinite alternate; /* Blinking effect */
}

/* Blinking animation */
@keyframes blink {
  0% { opacity: 1; }
  100% { opacity: 0.5; }
}

/* Centering and Red Error Text */
.error-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.board-container {
  margin-top: 58px;
  display: flex;
  justify-content: center;
  align-items: center; /* Align vertically */
  gap: 60px; /* Add spacing between message and board */
}
.board-container h1 {
  font-size: 1.5rem;
  white-space: nowrap; /* Prevents text from wrapping */
}

.grid-view {
  border: 1px solid hsl(0, 0%, 0%);
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.grid-view h1 {
  margin: 0;
  text-align: center;
}

.cat-mouse-content {
  display: flex;
  align-items: center; 
}

.cat-mouse-content p {
  flex: 1; 
  margin-right: 0;
}
.cat-mouse-content img {
  max-width: 200px;
  height: auto;
}